extends layout

block content

  // Link to CSS stylesheet
  link(rel='stylesheet', href='/stylesheets/style.css')

  // Centered content
  .center-content-index 
    h1 Author: #{author.name}
    p #{author.lifespan}

    // Margin for books list
    div(style='margin-left:20px;margin-top:20px')

      h4 Books
      
      // Check if author has associated books
      if author_books.length
        dl
          // Display each book
          each book in author_books
            dt
              a(href=book.url) #{book.title}
            dd #{book.summary}
      else
        p This author has no b
