extends layout

block content

  // Link to the stylesheet
  link(rel='stylesheet', href='/stylesheets/style.css')
  
  // Centered content
  .center-content-index 

    // Bootstrap card with black background and white text
    .card.shadow.bg-dark.text-white
      .card-body

        h1 #{title}: #{author.name}
        p= author.lifespan

        // Check if author has associated books
        if author_books.length
          p #[strong Delete the following books before attempting to delete this author.]
          div(style='margin-left:20px;margin-top:20px')
            h4 Books
            dl
              // Display each book
              each book in author_books
                dt
                  a(href=book.url) #{book.title}
                dd #{book.summary}

        else
          // Ask for confirmation before deletion
          p Do you really want to delete this Author?

          // Form for deletion
          form(method='POST')
            div.form-group
              input#authorid.form-control(type='hidden', name='authorid', value=author._id )

            button.btn.btn-primary(type='submit') Delete
