extends layout

block content
  // Centered content
  .center-content-index 

    // Title of the page
    h1= title
    if user
      p.mb-3
        a(href='/catalog/bookinstance/create', class='btn btn-primary admin-links') Create book-instance 
    // Check if there are book instances
    if bookinstance_list.length
      // Display book instances in a list
      ul
        each val in bookinstance_list
          li
            // Link to the book instance's detail page
            a(href=val.url) #{val.book.title} : #{val.imprint} -&nbsp;
            // Display status with appropriate color
            if val.status=='Available'
              span.text-success #{val.status}
            else if val.status=='Maintenance'
              span.text-danger #{val.status}
            else
              span.text-warning #{val.status}
            // Display due back date if not available
            if val.status != 'Available'
              span  (Due: #{val.due_back_formatted} )

    else
      // Display message if no book instances found
      p There are no book copies in this library.
