extends layout

block content
  // Centered content
  .center-content-index 

    // Bootstrap card with black background and white text
    .card.shadow.bg-dark.text-white
      .card-body

        h1= title

        // Link to stylesheet
        link(rel='stylesheet', href='/stylesheets/style.css')

        // Message prompting for confirmation
        p #[strong Do you really want to delete this BookInstance?]

        // Details of the BookInstance
        div(style="margin-left:20px")

          // BookInstance ID
          p #[strong ID]: #{bookinstance._id}

          // Link to the BookInstance's book's detail page
          p #[strong Title: ]
            a(href=bookinstance.book.url) #{bookinstance.book.title}

          // Imprint of the BookInstance
          p #[strong Imprint:] #{bookinstance.imprint}

          // Status of the BookInstance
          p #[strong Status: ]
            if bookinstance.status=='Available'
              span.text-success #{bookinstance.status}
            else if bookinstance.status=='Maintenance'
              span.text-danger #{bookinstance.status}
            else
              span.text-warning #{bookinstance.status}

          // Form for deletion
          form(method='POST')
             div.form-group
              input#id.form-control(type='hidden',name='id', value=bookinstance._id )

             button.btn.btn-danger(type='submit') Delete Book Instance
