extends layout

block content
  // Centered content
  .center-content-index 
    // Bootstrap card with black background and white text
    .card.shadow.bg-dark.text-white
      .card-body

        h1 #{title}: #{book.name}

        // Link to stylesheet
        link(rel='stylesheet', href='/stylesheets/style.css')

        // Author
        p 
          strong Author: 
          a(href=book.author.url) #{book.author.name}

        // Summary
        p #[strong Summary:] #{book.summary}

        // ISBN
        p #[strong ISBN:] #{book.isbn}

        // Genre
        p 
          strong Genre: 
          each val, index in book.genre
            a(href=val.url) #{val.name}
            if index < book.genre.length - 1
              |,&nbsp;

        hr

        // Check if there are book instances
        if book_instances.length
          // Display message if there are book instances
          p #[strong Delete the following copies before attempting to delete this Book.]

          // Display book instances
          div(style='margin-left:20px;margin-top:20px')
            h4 Copies
            each book_copy in book_instances
              hr
              // Display book copy status
              if book_copy.status=='Available'
                p.text-success #{book_copy.status}
              else if book_copy.status=='Maintenance'
                p.text-danger #{book_copy.status}
              else
                p.text-warning #{book_copy.status}
              // Display book copy details
              p #[strong Imprint:] #{book_copy.imprint}
              // Display due back date if not available
              if book_copy.status!='Available'
        else
          p Do you really want to delete this Book?

        form(method='POST')
          div.form-group
            input#id.form-control(type='hidden',name='id', value=book._id )

          button.btn.btn-primary(type='submit') Delete
