extends layout

block content
  // Centered content
  .center-content-index 
    h1 Title: #{book.title}

    // Link to stylesheet
    link(rel='stylesheet', href='/stylesheets/style.css')

    // Author
    p #[strong Author: ]
      a(href=book.author.url) !{book.author.name}

    // Summary
    p #[strong Summary:] #{book.summary}

    // ISBN
    p #[strong ISBN:] #{book.isbn}

    // Genre
    p #[strong Genre: ]
      each val, index in book.genre
        a(href=val.url) !{val.name}
        if index < book.genre.length - 1
          |,&nbsp;

    // Copies section
    div(style='margin-left:20px;margin-top:20px')
      h4 Copies

      // Check if there are book instances
      if book_instances.length
        each val in book_instances
          hr
          // Display book instance status
          if val.status=='Available'
            p.text-success !{val.status}
          else if val.status=='Maintenance'
            p.text-danger !{val.status}
          else
            p.text-warning !{val.status}
          // Display book instance details
          p #[strong Imprint:] !{val.imprint}
          // Display due back date if not available
          if val.status!='Available'
            p #[strong Due back:] !{val.due_back}
          // Display book instance ID
          p #[strong Id: ]
            a(href=val.url) !{val._id}
      else
        // Display message if no book instances found
        p There are no copies of this book in the library.

    hr

    if user
      div.mb-3
        div.btn-group
          a(href=book.url+'/delete', class='btn btn-danger admin-links mr-2') Delete Book 
          a(href=book.url+'/update', class='btn btn-primary admin-links mr-2') Update Book 
          a(href='/catalog/book/create', class='btn btn-success admin-links') Create Book
