extends layout

block content
  // Link to the stylesheet
  link(rel='stylesheet', href='/stylesheets/style.css')

  // Centered content
  .center-content-index 
    // Bootstrap card with black background and white text
    .card.shadow.bg-dark.text-white
      .card-body

        // Title of the page
        h1= title
        - let greetingMessage = user ? `Welcome to LocalLibrary, ${user.username}!` : "Welcome to LocalLibrary, a comprehensive online platform for book enthusiasts."
        p!= greetingMessage

        h3 Library Statistics

        p Below are some statistics about our library collection:

        ul.list-unstyled
          li
            a(href="/catalog/books")
              strong Total Books:
            |  !{ book_count }
          li
            a(href="/catalog/bookinstances")
              strong Total Copies:
            |  !{ book_instance_count }
          li
            a(href="/catalog/bookinstances")
              strong Available Copies:
            |  !{ book_instance_available_count }
          li
            a(href="/catalog/authors")
              strong Total Authors:
            |  !{ author_count }
          li
            a(href="/catalog/genres")
              strong Total Genres:
            |  !{ genre_count }
