extends layout

block content
  // Centered content
  .center-content-index 

    // Title of the page
    h1 Genre: #{genre.name}

    div(style='margin-left:20px;margin-top:20px')
    
      // Display books associated with the genre
      h2 Books
      if genre_books.length
        dl
          each book in genre_books
            dt
              a(href=book.url) #{book.title}
            dd #{book.summary}
      else
        // Display message if no books found for the genre
        p This genre has no books.

    hr

    if user
      div.mb-3
        div.btn-group
          a(href=genre.url+'/delete', class='btn btn-danger admin-links mr-2') Delete Genre
          a(href=genre.url+'/update', class='btn btn-primary admin-links mr-2') Update Genre
          a(href='/catalog/genre/create', class='btn btn-success admin-links') Create Genre

