extends layout

block content
  // Centered content
  .center-content-index 

    // Title of the page
    h1 Genre: #{genre.name}

    div(style='margin-left:20px;margin-top:20px')

      // Display books associated with the genre
      h4 Books
      if genre_books.length
        dl
          each book in genre_books
            dt
              a(href=book.url) #{book.title}
            dd #{book.summary}
      else
        // Display message if no books found for the genre
        p This genre has no books.

    hr

    // Link to delete the genre
    p
      a(href=genre.url+'/delete') Delete Genre

    // Link to update the genre
    p
      a(href=genre.url+'/update') Update Genre
