extends layout

block content
  //- Create a flexbox container for centering content
  .center-content-index 
  //- Set up the greeting message based on user authentication
  - let greetingMessage = user ? `Welcome to LocalLibrary, ${user.username}!` : "Welcome to LocalLibrary, a very basic Express website."

  h1= title
  p!= greetingMessage

  h1 Dynamic content

  p The library has the following record counts:

  ul
    li #[strong Books:] !{book_count}
    li #[strong Copies:] !{book_instance_count}
    li #[strong Copies available:] !{book_instance_available_count}
    li #[strong Authors:] !{author_count}
    li #[strong Genres:] !{genre_count}