extends layout

block content
  h1= title
  - let greetingMessage = user ? `Welcome to LocalLibrary, ${user.username}!` : "Welcome to LocalLibrary, a very basic Express website."
  p!= greetingMessage

  h1 Dynamic content

  p The library has the following record counts:

  ul.list-unstyled
    li #[strong Books:] !{book_count}
    li #[strong Copies:] !{book_instance_count}
    li #[strong Copies available:] !{book_instance_available_count}
    li #[strong Authors:] !{author_count}
    li #[strong Genres:] !{genre_count}

//- Link to your stylesheet
link(rel="stylesheet", href="/stylesheets/style.css")
